<div class="container__footer">
    <div class="container__menu_footer">
        <img src="../../../assets/ball.png" width="50" alt="Logo" />
        <h1>TutorSports</h1>    
    </div>
    <ul class="container__contatos">
        <li><a href="mailto:wstsilva.ws@gmail.com"> 
            <img src="../../../assets/email.png" width="20" alt="email-icon">
            wstsilva.ws&#64;gmail.com
        </a></li>
        <li><a href="#">
            <img src="../../../assets/instagram.png" width="20" alt="insta-icon">
            Instagram
        </a></li>
        <li><a href="#">
            <img src="../../../assets/whatsapp.png" width="20" alt="whatsapp-icon">
            WhatsApp
        </a></li>
    </ul>
</div>
<p class="copy">&copy; 2024 - Todos os direitos reservados</p>
