* {
    color: #FFFFFF;
}

.container__header_info {
    width: 85%;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 5rem;
    text-transform: uppercase;
    background: -webkit-linear-gradient(180deg, #eb3a55 60%, #eecf0f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-align: justify;
}