.container__modalidade {
    background-color: #1c213ee1;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    height: 100vh;
    width: 49.5vw;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    cursor: pointer;
}

.container__modalidade:hover {
    transition: transform 0.5s;
    transition: background-color 1s;
    transform: scale(1.05);
    background-color: #1c213e6e;
}

.container__modalidade_content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
    background: transparent;
}

.container__modalidade_content h2 {
    background: transparent;
    margin: 0;
    padding: 0;
}